@model IEnumerable<ManagePeople.Models.Person>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Manage People's Accounts</h2>
    </div>
    <br />

    <form method="get" asp-action="Index">
            <p>
                <input type="search" placeholder="Search by Surname or Id number" value="@ViewData["GetSearchPeople"]" name="SearchPeople"
                style="width: 300px; padding: 1px; font-family: Georgia; border: 5px solid black; line-height:2; " />
                <input type="submit" value="Search" class="btn btn-primary" />
                <a type="button" class="btn btn-primary" asp-action="Index">Back to list</a>
            </p>
    </form>

    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-end">
            Accounts
            </th>
            <th class="text-end">
                Action
            </th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="text-end">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-primary" asp-controller="Accounts" asp-action="Index" asp-route-id="@item.IdPerson">Accounts</a>
                        </div>
                </td>

                <td class="text-end">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPerson">Edit</a> 
                        <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdPerson">Details</a>
                        @*<a type="button" class="btn btn-primary" asp-action="Delete" asp-route-id="@item.IdPerson">Delete</a>*@
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="col-6">
        <a class="btn btn-info" asp-action="Create">Add People</a>
    </div>
</div>